.group-fw{
  background-color: white;
  margin-bottom: 10px;
}

.group-fw-without-header{
  border-top: 1px solid #bec2c7;
}

.group-fw-body{
  border-bottom: 1px solid #bec2c7;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.group-fw-body.collapsed {
  display: none;
}

.group-fw-body.expanded {
  display: block;
}
