.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    min-height: 30px;
}
