.container-layout {
    margin: 24px 16px 0;
    margin-top: 80px;
    overflow: initial;
    min-height: calc(100vh - 150px);
    background-size:cover;
    /* background: url("../../assets/img/logo-fondo.png") no-repeat center center ; */
    background-color: transparent !important;
    /* opacity: 1; */
    /* background-size: 30%; 
    background-image: linear-gradient(to top, #0b1849, #003e73, #006699, #0091b8, #15bcd1); */
}

.header-bar-fw-title {
    font-weight: 500;
    font-size: 13px;
    color: #0B1849 !important;
    cursor: pointer;
}


  .ant-form-item-label > label {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    color: black !important;
    font-size: 14px;
    font-weight: bold;
}

.ant-btn-primary:hover {
    color: #fff;
    background: #4E4E4E;
    border-color: #4E4E4E;
}

.ant-btn-primary {
    color: #fff;
    background: #0B1849;
    border-color: #0B1849;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}


.ant-btn-danger:hover {
  color: #fff;
  background: #4E4E4E;
  border-color: #4E4E4E;
}

.ant-btn-danger {
  color: #fff;
  background: #15BCD1;
  border-color: #15BCD1;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}


.ant-layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    background: white;
  }

  .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
    width: 0;
    background-color: white;
  }
/* 
  .ant-layout-footer {
    padding: 24px 50px;
    color: #0B1849;
    font-size: 15px;
    background: transparent !important;
    background-color: transparent !important;
    position: fixed;
    bottom: 0;
    width: 100%;
} */


  .ant-divider-inner-text {
    font-size: 14px;
    color: #0B1849;
    font-weight: bold;
}

.ant-layout-footer {
  padding: 24px 50px;
  color: #0B1849;
  font-size: 14px;
  background: transparent !important;
}