  /* .principal-layout{
      height: 100vh;
  } */

  .logo {
    float: left;
    width: 100%;
    height: 90px;
    margin: 0px 0px 0px 0;
    padding: 2px;
    text-align: center;
    display:flex;

  }
  
  .logo img {
    height: 100%;
    width: 100%;
    background-color:white ;
  }

  .app-chatbot-button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
    background-color: gray;
    border: none;
    position: fixed;
    bottom: 25px;
    z-index: 9999;
    left: 95%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app-chatbot-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 85%;
    bottom: 55px;
    z-index: 9999;
    box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4);
    border-radius: 5px;
  }