.header-bar-fw{
    vertical-align: middle;
    border-top: 1px solid #bec2c7;
    border-bottom: 1px solid #bec2c7;
    height: 45px;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
}
.header-bar-fw-button{
    text-align: left;
}
.header-bar-fw-title{
    font-weight: 500;
    font-size: 13px;
    color: #898e94;
    cursor: pointer;
}

.header-bar-fw-icon{
    padding-left: 3px;
    padding-right: 6px;
    cursor: pointer;
}

.header-bar-fw-collapsible-icon{
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}

