.container-fw{
  background-color: transparent !important;
}

.container-fw-without-header{
  border-top: 1px solid #bec2c7;
}

.container-fw-body{
  border-bottom: 1px solid #bec2c7;
  background-color: transparent !important;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-fw-body.collapsed {
  display: none;
}

.container-fw-body.expanded {
  display: block;
}



