.form-grid-fw{
    background-color: transparent !important;
    margin-bottom: 10px;
}

.form-grid-fw-body.collapsed {
    display: none;
  }
  
.form-grid-fw-body.expanded {
    display: block;
}
  


.form-grid-fw-body .form-fw-without-header{
    border-top: 0px;
}
  
.form-grid-fw-body .form-fw-body{
    border-bottom: 0px;
}